@model IEnumerable<VocabularyProject.Models.LanguageViewModel>

@{
    ViewData["Title"] = "Language";
}

<h1>LANGUAGE PAGE</h1>

<p>
    <a asp-action="Edit">Yeni Dil Ekle</a>
</p>

<div>
    <h2>Dil</h2>

    <table class="table" id="wordsTable">
        <tr>
            <th>ID</th>
            <th>DIL KODU</th>
            <th>DILIN ADI</th>
            <th style="text-align:center ">EDIT-DELETE </th>
        </tr>
        @{
            foreach (LanguageViewModel item in Model)
            {
                <tr class="trMaster">
                    <td>@item.Id</td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>
                        <div class="text-center">
                            <a asp-route-id="@item.Id" class="btn btn-info" asp-action="Edit">EDIT</a>
                            @*<a asp-route-id="@item.Id" class="btn btn-info" asp-action="Details">DETAILSS</a>*@
                            <a class="btn btn-info " style="margin-left:5px" asp-route-id="@item.Id" asp-action="Delete">DELETE</a>
                        </div>
                    </td>
                </tr>
            }
        }
        </table>
    </div>
    <style>
        #wordsTable {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #wordsTable td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            /* #wordsTable tr:nth-child(even) {
                        background-color: #f2f2f2;
                    }
        */
            #wordsTable .trMaster:hover {
                background-color: #ddd;
            }

            #wordsTable th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #3a2860;
                color: white;
            }
    </style>
