@model IEnumerable<VocabularyProject.Models.WordDefinitionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>WORD DEFINITION PAGE</h1>

<p>
    <a asp-action="Edit">Yeni Kelime Ekle</a>
</p>
<div>
    <h2>Kelime</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>KELIME</th>
            <th>DIL ID'Sİ</th>
            <th style="text-align:center ">EDIT-DETAILS-DELETE </th>
        </tr>
        @{
            foreach (WordDefinitionViewModel item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Word</td>
                    <td>@item.LangName</td>
                    <td>
                        <div class="text-center">
                            <a asp-route-id="@item.Id" class="btn btn-info" asp-action="Edit">EDIT</a>
                            <a asp-route-id="@item.Id" class="btn btn-info" asp-action="Details">DETAILS</a>
                            <a class="btn btn-warning " style="margin-left:5px" asp-route-id="@item.Id" asp-action="Delete">DELETE</a>
                        </div>
                    </td>
                </tr>
            }
        }
        <
    </table>
</div>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #eff6fe;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #eff6fe;
    }
</style>
