@model IEnumerable<VocabularyProject.Models.WordMeaningViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>WORD MEANING PAGE</h1>

<p>
    <a asp-action="Edit">Kelimeye Yeni Anlam Ekle</a>
</p>

<div>
    <h2>Kelime Anlamı</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>KELIMENIN ANLAMI</th>
            <th>DIL ID</th>
            <th>KELIMENIN ANLAMI ID</th>
            <th style="text-align:center ">EDIT-DELETE </th>
        </tr>
        @{
            foreach (WordMeaningViewModel item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Meaning</td>
                    @*<td>@item.LangId</td>
        <td>@item.WordDefinitionId</td>*@
                    <td>@item.SelectedWordDefinition.Word</td>
                    <td title="@item.SelectedLang.Name">
                        @Html.DisplayFor(modelItem => item.SelectedLang.Code)
                    </td>
                    <td>
                        <div class="text-center">
                            <a asp-route-id="@item.Id" class="btn btn-info" asp-action="Edit">EDIT</a>
                            @*<a asp-route-id="@item.Id" class="btn btn-info" asp-action="Details">DETAILS</a>*@
                            <a class="btn btn-warning " style="margin-left:5px" asp-route-id="@item.Id" asp-action="Delete">DELETE</a>
                        </div>
                    </td>
                </tr>
            }
        }
        <
    </table>
</div>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #eff6fe;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #eff6fe;
    }
</style>
