@model IEnumerable<VocabularyProject.Models.WordMeaningViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>WORD MEANING PAGE</h1>

<p>
    <a asp-action="Edit">Kelimeye Yeni Anlam Ekle</a>
</p>

<div>
    <h2>Kelime Anlamı</h2>

    <table class="table" id="wordsTable">
        <tr>
            <th>ID</th>
            <th>KELIMENIN ANLAMI</th>
            <th>DIL ID</th>
            <th>KELIMENIN ANLAMI ID</th>
            <th style="text-align:center ">EDIT-DELETE </th>
        </tr>
        @{ foreach (WordMeaningViewModel item in Model)
                        {
            <tr class="trMaster">
                <td>@item.Id</td>
                <td>@item.Meaning</td>
                @*<td>@item.LangId</td>
                <td>@item.WordDefinitionId</td>*@
                <td>@item.SelectedWordDefinition.Word</td>
                <td title="@item.SelectedLang.Name">
                    @Html.DisplayFor(modelItem => item.SelectedLang.Code)
                </td>
                <td>
                    <div class="text-center">
                        <a asp-route-id="@item.Id" class="btn btn-info" asp-action="Edit">EDIT</a>
                        @*<a asp-route-id="@item.Id" class="btn btn-info" asp-action="Details">DETAILS</a>*@
                        <a class="btn btn-info " style="margin-left:5px" asp-route-id="@item.Id" asp-action="Delete">DELETE</a>
                    </div>
                </td>
            </tr> } }

    </table>
</div>

<style>
    #wordsTable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #wordsTable td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        /* #wordsTable tr:nth-child(even) {
                        background-color: #f2f2f2;
                    }
        */
        #wordsTable .trMaster:hover {
            background-color: #ddd;
        }

        #wordsTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #3a2860;
            color: white;
        }
</style>
